.App {
  position: relative;
  overflow: hidden;
  background: linear-gradient(190deg, #fdcd3b 66%, #ffed4b 33%);
  height: 100vh;
  width: 100vw;
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
