.Swipeable-image {
  max-width: 300px;
  background-color: rgba(0, 143, 70, 0.75);
  padding: 12px;
}

.Swipeable-image img {
  cursor: pointer;
  display: block;
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
  width: auto;
  height: auto;
  transition: all 300ms ease-in;
  opacity: 1;
}
